.end{
    display: flex;
    background-color: black;
    height: 500px;
    flex-direction: column;
    width: 100%;

}
.question-flex{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.question{
    color: rgb(151, 151, 151);
    font-size: 18px;
}
.both-side{
    padding-left: 12%;
    padding-right: 12%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.sides{
    margin-top: 10px;
    display: flex;
    width: 25%;
    flex-direction: column;
    gap: 15px;
}
.flexs{
    display: flex;
    justify-content: center;
}
.writings{
    color: rgb(151, 151, 151);
    font-size: 15px;
}
.position-language{
    padding-top: 10px;
    padding-left: 19%;
}