body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    height: 3500px;
    font-family: Roboto,Arial;
}
.border{
    background-color: white;
    height: 8px;
}
